

body{
  background: hsl(53, 68%, 78%);
  text-align: center;
  flex-shrink: 3;
  flex-grow: inherit;

  display: flex;
  flex-direction: column;
}

.headerDiv {
  padding: 10px 0;
  color: rgba(0, 0, 0, 0.708);
  font-family: 'Rubik', sans-serif;
}

.textDiv {
  text-align: center;
  color: rgba(0, 0, 0, 0.708);
  font-family: 'Rubik', sans-serif;
}

.chakra {
  max-width: 350px;
}

.container {
  background: none;
  margin-top: 15px;
  font-family: 'Rubik', sans-serif;
  color: rgba(0, 0, 0, 0.708);
}



#submit {
  background-color: rgb(0, 99, 104);
  border: none;
  color: rgba(255, 255, 255, 0.749);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.text {
  font-size: 20px;
  font-style: normal;
  padding: 10px 0;
}

.author {
  font-size: 18px;
  font-style: normal;
  padding: 15px 0;
}

.container {
  border: 5px;
  border-radius: 8px;
}

.button {
padding: 15px;
}

.line {
  border: 1px solid rgba(0, 0, 0, 0.708);
  margin-top: 10px;
  margin-bottom: 5px;
}
